@{
    ViewBag.Title = "About";
}



<p align="CENTER">

    <img src="~/Content/image/1.JPG" width="250" height="300">
</p>



<p>
<pre>
<b>FULYA CİĞERCİ </b>

Address : Libya Cad. No:40 Kızılay Çankaya / ANKARA
Tel: 0554 221 28 45
E-mail:   fulyaa.cigerci@gmail.com
Date of Birth and Place : 16/10/1992 -  Ankara
<b>Education &  Training</b>
(2011-   )    Yıldırım Beyazıt University   
              Computer Engineering (%100 English)      
<b>Areas studied include:</b>Computer Programming( I-II), Object Oriented Programming, Data Structures, 
                      Computer System Architecture,Electronic Circuits, Electrical Circuits and Electronic Devices,
                      Digital Design, Engineering Mathematics(I-II), Probability and Statics, Entrepreneurship
(2006-2010)  Polatlı Anatolian High School
             Sciences
                       
<b>Qualifications</b>
Programming Languages    C and Object Oriented Programming  (JAVA )
Computer Programs        Dev C++,  Eclipse,  Multisim,  Xilinx
                         MS Office Programs
Foreign Language         English   (upper)
                         German  (beginner)
•Especially, snake game has been prepared in Java Language.
<b>Courses  & Seminars</b>
Course :   (2014 -   )  Network Data Base
Seminar : (2014)     ODTÜ 14. Management and Engineering Days -Certificate of Participation - Innovation         
</pre>
</p>


