@{
    ViewBag.Title = "Contact";
}



    <address>
        <br />
        <font size="8">MVC MOVIE CONTACT</font>
        <br />

        Çankaya,ANKARA<br />
        <abbr title="Phone">Phone:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>IMD:</strong>   <a href="http://www.imdb.com">www.imdb.com</a><br />
        <strong>FULYA CİGERCİ</strong> <a href="fulyaa.cigerci@gmail.com">fulyaa.cigerci@gmail.com</a>
    </address>

<p align="CENTER">

    <img src="~/Content/image/6.png" width="1200" height="500">
</p>
