@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url("/Content/image/2.jpg");
        background-repeat: no-repeat;
    }

    p.text {
        font-family: "Times New Roman",'Times New Roman',serif;
        font-size: x-large;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>






<center>

    <p class="text">
        <br>
        <br>
        <br><br><br><br>
        </p>
    </center>


        <div class="jumbotron">

            <p align="CENTER">

                <h1>MOVIES</h1>

            </p>
            <p class="lead">MVC MOVIES is a great Web site to get information about movies.You can choose the best movie.ENJOY IT! </p>

            <p><a href="http://localhost:2989/Movies" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>MVC MOVIES</h2>
                <p>
                   List and Information of movies
                </p>
                <p><a class="btn btn-default" href="http://localhost:2989/Movies">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>ABOUT</h2>
                <p>Fulya Ciğerci's CV</p>
                <p><a class="btn btn-default" href="http://localhost:2989/Home/About">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>CONTACT</h2>
                <p>Communicate with us</p>
                <p><a class="btn btn-default" href="http://localhost:2989/Home/Contact">Learn more &raquo;</a></p>
            </div>
        </div>
